.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

img {
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
}
